<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<!-- Area Chart Example-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        New Recipe</div>

    <div class="card-body">
        <form>
            <!-- First Row -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRecipeName">Recipe Name</label>
                    <input type="text" class="form-control" id="inputRecipeName" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLevel">Level</label>
                    <select id="inputLevel" class="form-control">
                        <option selected>Hard</option>
                        <option>Medium</option>
                        <option>Easy</option>
                    </select>
                </div>
            </div>
            <!-- Second Row -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputTime">Time</label>
                    <input type="text" class="form-control" id="inputTime" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUnit">Unit</label>
                    <select id="inputUnit" class="form-control">
                        <option selected>Hour(s)</option>
                        <option>Minute(s)</option>
                    </select>
                </div>
            </div>
            <!-- Third Row -->
            <div class="form-group">
                <label for="inputIngredients">Ingredients</label>
                <div id="dynamicList">
                    <div class="form-row mb-1">
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="inputIngredientName" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="inputIngredientAmount" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="col-md-1">
                            <select id="inputIngredientsUnit" class="form-control">
                                <option selected>Kg(s)</option>
                                <option>Gram(s)</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button name="add" id="add" class="btn btn-success">Add more</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Upload Image -->
            <div class="form-group">
                <label for="uploadPhoto">Photos</label>
                <br/>
                <label class="btn btn-primary">
                    Choose Files
                    <input type="file" ng2FileSelect [uploader]="uploader"/>
                </label> 
                <div class="container" *ngIf="downloadURLString">
                    <img src="{{ downloadURLString }}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
            </div>
            <!-- Table of uploading items -->
            <div class="col-md-9" style="margin-bottom: 40px">
 
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
            
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            
                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <br>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success" (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                Upload all
                            </button>
                        </div>
                    
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-warning" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                Cancel all
                            </button>
                        </div>
                    
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                Remove all
                            </button>
                        </div>
                    </div>
                </div>
            
            </div>

            <div *ngIf="downloadURL.length > 0">
                <h3>Results!</h3>
                <div class="row">
                    <div class="col-md-4" *ngFor="let url of downloadURL">
                        <div class="thumbnail">
                            <img [src]="url" style="width:100%"><br />
                            <a [href]="url">Download me</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
            
                <button type="submit" class="btn btn-primary" (click)="submitClick()">Submit</button>
                <button type="button" class="btn btn-danger" (click)="removeForm()">Remove Form</button>
            
            </div>
        </form>
    </div>

    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>